# Configuración del servidor
PORT=3008
HOST=0.0.0.0

# URL del backend
URL_BACKEND=https://tu-backend.ejemplo.com

# Configuración del bot
CLEAN_SESSION=false # Cambia a true si quieres limpiar la sesión al iniciar
NODE_ENV=production # Ambiente de ejecución